In [1]:
import pandas as pd

In [2]:
annotations_json = pd.read_json('./dataset/MFTC_V4.json')

In [5]:
annotations_json

      Corpus                                             Tweets
0        ALM  [{'tweet_id': '521033092132503552', 'annotatio...
1  Baltimore  [{'tweet_id': '593899776564944897', 'annotatio...
2        BLM  [{'tweet_id': '734202176684298240', 'annotatio...
3   Davidson  [{'tweet_id': '5', 'annotations': [{'annotator...
4   Election  [{'tweet_id': '509464992404357120', 'annotatio...
5      MeToo  [{'tweet_id': '48430014437122048', 'annotation...
6      Sandy  [{'tweet_id': '258018822945120256', 'annotatio...

In [36]:
# visualize corpus ALM with first 5 tweets
annotations_json['Tweets'][0][:5]

[{'tweet_id': '521033092132503552',
  'annotations': [{'annotator': 'annotator00', 'annotation': 'care'},
   {'annotator': 'annotator01', 'annotation': 'care,purity'},
   {'annotator': 'annotator02', 'annotation': 'care,purity'},
   {'annotator': 'annotator03', 'annotation': 'care'}]},
 {'tweet_id': '537681598989475841',
  'annotations': [{'annotator': 'annotator00', 'annotation': 'subversion'},
   {'annotator': 'annotator01', 'annotation': 'subversion'},
   {'annotator': 'annotator02', 'annotation': 'loyalty'},
   {'annotator': 'annotator03', 'annotation': 'loyalty,subversion'}]},
 {'tweet_id': '624644420705648640',
  'annotations': [{'annotator': 'annotator00', 'annotation': 'harm,cheating'},
   {'annotator': 'annotator01', 'annotation': 'fairness'},
   {'annotator': 'annotator02', 'annotation': 'cheating'},
   {'annotator': 'annotator03', 'annotation': 'care,cheating'}]},
 {'tweet_id': '752979765984890884',
  'annotations': [{'annotator': 'annotator00', 'annotation': 'care'},
   {'annotator': 'annotator01', 'annotation': 'purity'},
   {'annotator': 'annotator02', 'annotation': 'care,purity'},
   {'annotator': 'annotator03', 'annotation': 'care'}]},
 {'tweet_id': '548029362348765185',
  'annotations': [{'annotator': 'annotator00',
    'annotation': 'fairness,cheating'},
   {'annotator': 'annotator01', 'annotation': 'loyalty'},
   {'annotator': 'annotator02', 'annotation': 'care,loyalty,purity'},
   {'annotator': 'annotator03', 'annotation': 'cheating'}]}]

In [29]:
# get tweets and annotations for each individual annotator
annotators_tweets = {}

for corpus_i in range(len(annotations_json['Corpus'])):
    for tweet in annotations_json['Tweets'][corpus_i]:
        for annotation in tweet['annotations']:
            
            # arrange data format of each tweet 
            new_tweet = {'tweet_id': tweet['tweet_id'], 
                        'annotations': annotation['annotation'], 
                        'corpus': annotations_json['Corpus'][corpus_i]}
            
            # make sure annotator exists in the dictionary
            if annotation['annotator'] not in annotators_tweets:
                annotators_tweets[annotation['annotator']] = []
            
            annotators_tweets[annotation['annotator']].append(new_tweet)

In [33]:
# visualize annotator01's first 5 tweets with annotations
annotators_tweets['annotator01'][:5]

[{'tweet_id': '521033092132503552',
  'annotations': 'care,purity',
  'corpus': 'ALM'},
 {'tweet_id': '537681598989475841',
  'annotations': 'subversion',
  'corpus': 'ALM'},
 {'tweet_id': '624644420705648640',
  'annotations': 'fairness',
  'corpus': 'ALM'},
 {'tweet_id': '752979765984890884', 'annotations': 'purity', 'corpus': 'ALM'},
 {'tweet_id': '548029362348765185', 'annotations': 'loyalty', 'corpus': 'ALM'}]

In [34]:
for annotator in annotators_tweets:
    print(annotator, ', annotated amount:', len(annotators_tweets[annotator]))

annotator00 , annotated amount: 10277
annotator01 , annotated amount: 11787
annotator02 , annotated amount: 19556
annotator03 , annotated amount: 14968
annotator17 , annotated amount: 3730
annotator04 , annotated amount: 10482
annotator12 , annotated amount: 1228
annotator13 , annotated amount: 5420
annotator14 , annotated amount: 5416
annotator15 , annotated amount: 673
annotator06 , annotated amount: 4089
annotator05 , annotated amount: 4669
annotator07 , annotated amount: 4738
annotator08 , annotated amount: 4805
annotator16 , annotated amount: 2499
annotator18 , annotated amount: 2592
annotator19 , annotated amount: 2478
annotator20 , annotated amount: 2591
annotator21 , annotated amount: 2162
annotator22 , annotated amount: 560
annotator10 , annotated amount: 4588
annotator09 , annotated amount: 4591
annotator11 , annotated amount: 4555